{
    "server": {
        "listen":["8080"],
        "hosts": [
            "ds.vipliangmei.com",
            "in.vipliangmei.com"
        ],
        
        "tls_cert": "cert_file.pem",
        "tls_cert_key": "private_key.key",

        "location_regexp": [
            {
                "exp": "^/ad_server$",
                "proxy_pass": "http://{{backend}}/other_path?{{params}}",
                "file_root": "/home/wwwroot",	
                "backend": "x_server",				
                "request_filter": [
                
                ],
                "response_filter": [
                
                ]
            },
            {
                //...
            },
            {
                "exp": "^/proxy_pass$",
                "proxy_pass": "http://{{backend}}/real_path?{{params}}"
            }
        ],
        "location_jsonexp": {
            "exp": [
                [
                    ["$req.path", "=", "/ad_server"],
                    [
                        ["$backend", "=", "ad_server"],
                        ["$break", "=", 1]
                    ]
                ],
                [
                    ["$req.path", "=", "/robot.txt"],
                    [
                        ["$resp.status", "=","200"],
                        ["$resp.body", "=", "not allowed"],
                        ["$break", "=", 1]
                    ]
                ],
                [
                    ["$req.path", "=", "/redirect"],
                    [
                        ["$resp.status", "=","302"],
                        ["$resp.redirect", "=", "https://baidu.com/from={{$req.uri}}"],
                        ["$break", "=", 1]
                    ]
                ]				
            ],
            "request_filter": [
            
            ],
            "response_filter": [
                
            ]
        }
    }
}