// tcp四层代理

{
    "upstream": [
        {        
            // 别名，须唯一
            "alias": "kafka",
            // 后端地址列表 ip:port#weight
            "backend_list": ["127.0.0.1:9095#1","127.0.0.1:9095#1","127.0.0.1:9095#3"],
            // 负载策略, 包括:  
            // roundrobin 轮询
            // leastconn  最小连接数
            // random 随机选择
            // iphash 按客户端ip地址哈希分布            
            "method": "leastconn",
            // 连接超时（毫秒数）
            "connect_timeout": 2000
        }
        // more upstreams
        // ...        
    ],

    "tcp_server": {
        "listen": [9093,9094],
        "upstream": "kafka"        
    }
}